## Dependencies

In [1]:
import psycopg2

In [2]:
import pandas as pd

## Connecting to Postgres DB

In [36]:
dbname = 'aact'
user = 'postgres'
password = 'lqt38be'
host = 'localhost'

conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)
curs = conn.cursor()

In [37]:
# Verifying Connection
query = """SELECT COUNT(*) 
FROM ctgov.studies;
"""
curs.execute(query)
curs.fetchall()

[(309078,)]

# Subsetting Studies Table to only Active Trials

In [38]:
query = 'SELECT * FROM ctgov.studies'
studies = pd.read_sql(sql=query, con=conn)
studies.shape

(309078, 64)

In [39]:
# Selecting only relevant columns
study_cols = ['nct_id', 'start_date','completion_date',
              'study_type','overall_status','brief_title','phase','source']
studies = studies[study_cols]
studies.shape

(309078, 8)

In [40]:
active_statuses = ['Recruiting','Active, not recruiting','Not yet recruiting','Available','Approved for marketing']
active_studies = studies[ studies['overall_status'].isin(active_statuses) ]

In [41]:
active_studies.shape

(81666, 8)

In [42]:
active_studies.head()

,nct_id,start_date,completion_date,study_type,overall_status,brief_title,phase,source
2,NCT03970681,2019-05-29,2020-05-31,Observational,Recruiting,Clinical and Radiological Evaluation of Acoust...,None,"University Hospital, Strasbourg, France"
3,NCT03940560,2018-07-01,2020-12-31,Interventional,Recruiting,Mesh Suture for Internal Load Bearing Closures,N/A,Wigmore Clinic
4,NCT03970746,2019-05-31,2022-08-31,Interventional,Not yet recruiting,"Safety, Immunogenicity and Preliminary Clinica...",Phase 1/Phase 2,PDC*line Pharma SAS
5,NCT03970720,2019-05-28,2023-04-30,Interventional,Recruiting,Restoration of Hypoglycemia Awareness With Met...,Phase 2,University of Utah
6,NCT03970707,2019-06-24,2019-08-02,Interventional,Recruiting,Recovery Kinetics After the Use of Small Sided...,N/A,University of Thessaly

In [43]:
keys = active_studies['nct_id']

In [44]:
active_studies.to_json('Subsetted_Data/studies.json', orient='index')

## Subsetting Facilities Table

In [45]:
query = 'SELECT * FROM ctgov.facilities'
facilities = pd.read_sql(sql=query, con=conn)
facilities.shape

(2173072, 8)

In [46]:
facil_cols = ['id', 'nct_id', 'name', 'city', 'state', 'country']
facilities = facilities[ facil_cols ]

In [47]:
active_facilities = facilities[ facilities['nct_id'].isin(keys) ]

In [48]:
active_facilities.shape

(669308, 6)

In [49]:
active_facilities.head()

,id,nct_id,name,city,state,country
0,33772397,NCT03967340,CHU de Nantes,Nantes,,France
1,36878294,NCT03993613,Academic Medical Centre,Amsterdam-Zuidoost,Noord-Holland,Netherlands
2,36878295,NCT03993600,cliniques universitaires Saint-Luc,Bruxelles,,Belgium
3,36878296,NCT03993574,University of Texas Medical Branch,Galveston,Texas,United States
4,36878297,NCT03993561,London Health Sciences Centre,London,Ontario,Canada

In [50]:
active_facilities.to_json('Subsetted_Data/facilities.json', orient='index')

# Subsetting Contacts Table

In [51]:
query = 'SELECT * FROM ctgov.central_contacts'
contacts = pd.read_sql(sql=query, con=conn)
contacts.shape

(120251, 6)

In [52]:
contact_cols = ['id', 'nct_id','contact_type','name','phone','email']
contacts = contacts[ contact_cols ]

In [53]:
active_contacts = contacts[ contacts['nct_id'].isin(keys) ]
active_contacts.shape

(90465, 6)

In [54]:
active_contacts.to_json('Subsetted_Data/contacts.json', orient='index')

## Subsetting Sponsors Table

In [55]:
query = 'SELECT * FROM ctgov.sponsors'
sponsors = pd.read_sql(sql=query, con=conn)
sponsors.shape

(490861, 5)

In [56]:
# Subset to only include lead sponsors
sponsors = sponsors[ sponsors['lead_or_collaborator'] == 'lead']
sponsors.shape

(309078, 5)

In [57]:
sponsor_cols = ['id', 'nct_id', 'name']
sponsors = sponsors[ sponsor_cols ]

In [58]:
active_sponsors = sponsors[ sponsors['nct_id'].isin(keys) ]
active_sponsors.shape

(81666, 3)

In [59]:
active_sponsors.to_json('Subsetted_Data/sponsors.json', orient='index')

## Subsetting the eligibilities Table

In [60]:
query = 'SELECT * FROM ctgov.eligibilities'
eligble = pd.read_sql(sql=query, con=conn)
eligble.shape

(309078, 11)

In [61]:
eligb_cols = ['id', 'nct_id', 'gender', 'minimum_age','maximum_age','healthy_volunteers']
eligble = eligble[ eligb_cols ]
eligble.shape

(309078, 6)

In [62]:
active_eligble = eligble[ eligble['nct_id'].isin(keys) ]
active_eligble.shape

(81666, 6)

In [63]:
active_eligble.to_json('Subsetted_Data/eligibilities.json', orient='index')

## Subsetting the Conditions Table

In [64]:
query = 'SELECT * FROM ctgov.conditions'
conditions = pd.read_sql(sql=query, con=conn)
conditions.shape

(510918, 4)

In [65]:
condition_cols = ['id', 'nct_id', 'name']
conditions = conditions[ condition_cols ]
conditions.shape

(510918, 3)

In [66]:
active_conditions = conditions[ conditions['nct_id'].isin(keys) ]
active_conditions.shape

(154517, 3)

In [67]:
active_conditions.to_json('Subsetted_Data/conditions.json', orient='index')

## Subsetting Brief Summaries

In [68]:
query = 'SELECT * FROM ctgov.brief_summaries'
summaries = pd.read_sql(sql=query, con=conn)
summaries.shape

(308277, 3)

In [69]:
active_summaries = summaries[ summaries['nct_id'].isin(keys) ]
active_summaries.shape

(81666, 3)

In [70]:
active_summaries.to_json('Subsetted_Data/summaries.json', orient='index')